{% extends 'base.html' %}

{% load form_fields %}

{% block content %}

<form method="POST">
    <div class="form_container">
        {% actor_form_field signupForm.first_name %}
        
        {% actor_form_field signupForm.last_name %}
        
        {% actor_form_field signupForm.line1 %}
        
        {% actor_form_field signupForm.line2 %}

        {% actor_form_field signupForm.city %}

        {% actor_form_field signupForm.state %}

        {% actor_form_field signupForm.zipcode %}

        {% actor_form_field signupForm.phone %}

        {% actor_form_field signupForm.alt_phone %}

        {% actor_form_field signupForm.email %}

        {% actor_form_field signupForm.age_range %}
        
        {% actor_form_field signupForm.height %}
        
        {% actor_form_field signupForm.size %}
        
        {% actor_form_field signupForm.union %}
        
        {% actor_form_field signupForm.special %}
        
        {% actor_form_field signupForm.reference %}
        
        <input type="submit" name="submit" value="Submit" />

    </div>
    
    {# stuff django needs #}
    {% csrf_token %}
    
</form>
{% endblock %}